<section class="contact">
  <div class="contact--container">
    <section class="contact--options">
      <h1>{{{ options.title }}}</h1>
      <h2>{{{ options.description }}}</h2>
      <a href="tel:{{ options.phone }}">Call {{{ options.phone }}}</a>
      <a href="mailto:{{ options.phone }}">Email {{{ options.email }}}</a>
    </section>

    <section class="contact--services">
      <h1>{{{ services.title }}}</h1>
      <h2>{{{ services.description }}}</h2>
      <small>{{{ services.small }}}</small>
    </section>
  </div>
</section>
