<section class="overlay">
  <div class="overlay--container">
    <ul>
      <li class="overlay--title">{{{ title }}}</li>
      <li class="overlay--phone"><a href="tel:{{{ phone }}}">{{{ phone }}}</a></li>
      <li class="overlay--email"><a href="mailto:{{{ email }}}">{{{ email }}}</a></li>
    </ul>
  </div>
</section>
